

.mainTitle {
  margin-bottom: 40px;
  text-align: center;
  font-size: 30px;
}
.styledList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
};

.item {
  width: 100%;
  margin-bottom: 25px;
  
}
.actorImg {
  width: 200px;
}