.styledList {
  margin-top: 12px;
  margin-bottom: 40px;
  
}

.listItem {
  font-size: 18px;
  padding: 6px;
  
  border-radius: 14px;

  :not(:last-child) {
    margin-bottom: 12px;
  }
}
.reviewsDescr {
  
  margin-top: 6px;
}