i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.buttonsLink{
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  padding: 8px 15px;
  margin-bottom: 15px;
  margin-top: 25px;
  box-shadow: 1px 2px 2px 0 rgb(0, 0, 0/0.5);
  transition: box-shadow 250ms linear;
  border-radius: 10px;
  border: 3px solid #2196f3;
 display: inline-block;
 margin-right: 20px;
 &:hover,
 &:focus {
   text-shadow: 3px 3px 20px #ff3cac, -2px 1px 30px #ff3cac;
   border: 3px solid #ff3cac; 
 }
}
.detailsLi {
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  padding: 8px 15px;
  margin-bottom: 15px;
  margin-top: 25px;
  box-shadow: 1px 2px 2px 0 rgb(0, 0, 0/0.5);
  transition: box-shadow 250ms linear;
  border-radius: 10px;
 
 display: inline-block;
 margin-right: 20px;
 
}
.filmWraper {
  display: flex;
  gap: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
};
 .filmImg {
  max-width: 182px;
  background: #424242;
  border-radius: 15px;
 };

.filmTitle {
  font-size: 26px;
  margin-bottom: 12px;
};

.filmSubTitle {
  font-size: 16px;
  margin-bottom: 6px;
};

.filmDescr {
  font-size: 16px;
  color: #888888;
  margin-bottom: 12px;
};

.styledListDescr {
  font-size: 16px;
  display: flex;
  gap: 18px;
  padding: 0;

  border-radius: 20px;
  color: #888888;
  margin-bottom: 12px;
};


