i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.backLink{
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  padding: 8px 15px;
  margin-bottom: 15px;
  margin-top: 25px;
  box-shadow: 1px 2px 2px 0 rgb(0, 0, 0/0.5);
  transition: box-shadow 250ms linear;
  border-radius: 10px;
  border: 3px solid #b38bff;
  background-color: #b38bff;
 display: inline-block;
 margin-right: 20px;
 &:hover,
 &:focus {
   text-shadow: 3px 3px 20px #ff3cac, -2px 1px 30px #ff3cac;
   border: 3px solid #ff3cac; 
 }
}
.detailsLi {
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  padding: 8px 15px;
  margin-bottom: 15px;
  margin-top: 25px;
  box-shadow: 1px 2px 2px 0 rgb(0, 0, 0/0.5);
  transition: box-shadow 250ms linear;
  border-radius: 10px;
 
 display: inline-block;
 margin-right: 20px;
 
}
.filmWraper {
  display: flex;
  gap: 50px;
  margin-top: 12px;
  margin-bottom: 12px;
}
.filmTitle {
  margin-bottom: 20px;
  }
.subTitle {
  margin-bottom: 15px;
}
.textDescr {
  margin-bottom: 10px;
}
.nameGenre {
  margin-bottom: 5px;
}

.listNamesGenre li::before {
  content: "\2605"; 
  color:#f16092; 
}

.filmCharacteristics {
  margin-left: 20px;
}
.subTitleInfo {
  margin-left: 25px;
}
.detailsLink {
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 10px 20px;
  border: 3px solid #b38bff;
  border-radius: 10px;
  transition: all 0.3s;
  background: #b38bff;
  &:hover,
&:focus {
  text-shadow: 3px 3px 20px #ff3cac, -2px 1px 30px #ff3cac;
  border: 3px solid #ff3cac; 
}
}
.detailsLink.active {
  border: 5px solid #ff3cac;
  color: black;
}
.header {
  margin: 15px 0 5px 0;
  font-size: 1.5rem;
  font-weight: 500;

  @media screen and (max-width: 768px) {
    font-size: 1.2rem;
  }
}
.prouctionCompanies {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 10px;
}

.imges {
  margin-left: 50px;
  margin-top: 30px;
  background-image: url(../../components/Images/plenka.png);
  width: 340px;
  height: 313px;
}
