.listFilms {
  margin-top: 12px;
}
.itemFilms {
  font-weight: 400;
  font-size: 20px;
  border-radius: 14px;
  :not(:last-child) {
    margin-bottom: 6px;
  }

  &:hover,
  &:focus {
    color: #ff3cac;
    
    width: 100%;
  }

  & {
    display: block;
    padding: 1px 1px;
    
  }
}
